@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
/* body{
    background-color: #073c461f;
    height: 200vh;
} */
/* .body-container{
    background:linear-gradient( rgba(0, 0, 0, 0), #217484a3);
} */
/* 
===================================
Navigation Bar Section
===================================
*/
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px silver;

    /* padding: 0 0 0 25px; */
    transition: background-color 0.3s ease-in-out;
    z-index: 1;
}
.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer img{
    max-width: 100%;
    width: 80%;
}
  .nav-bar.scrolled {
    background-color: #073c46d3;
    /* border: none; */
  }
  .navlogo{
    height: 100%;
  }
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px silver;
    color: white;
    width: 300px;
    height: 100%;
    text-decoration: none;
}
.naviLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.naviLinks ul{
    /* text-decoration: none; */
    list-style: none;
    
    display: flex;
    
    
}
.naviLinks ul li a{
    color: white;
    text-decoration: none;

    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 200;
}
.messageContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;
    border-left: solid 1px silver;
}
.messageContainer i{
    cursor: pointer;

}


/* 
===================================
Hero Section
===================================
*/
.hero{
    position: relative;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-image:linear-gradient(rgba(0, 0, 0, 0.593), #073c46e6), url(./hero.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    position: top;
    color: white;

}

.heroContent{
    width: 50%;
    position: absolute;
    top: 56%;
    left: 10%;
    transform: translateY(-45%);
}
@keyframes hero {
	0% {
		transform: translateX(-30px)
	}

	100% {
		transform: translateX(0)
	}
}
.heroContent p{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: hero .3s ease .3s 1 normal forwards;
}
.heroContent h1{
    font-size: 5rem;
    font-weight: 400;
    line-height: 95px;
    animation: hero .5s ease .3s 1 normal forwards;
}
.heroContent button{
    width: 180px;
    height: 40px;

    border: none;
    background-color: transparent;
    border-radius: 5px;

    color:white;
    font-size:1.5rem;
    cursor: pointer;
    animation: hero 1s ease .3s 1 normal forwards;
}


/* 
===================================
Body 1st Section
===================================
*/
@keyframes heroAnim {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-10px);
	}
}
.firstBody{
    /* height: 100vh; */
    width: 100%;
    height: 90vh;
    color: black;
    z-index: 4;
    padding: 50px;

    display: flex;
    justify-content: center;
    place-content: center;
}
.firstBody .txtContent{
    padding: 45px 90px 45px 45px;
    text-align: start;
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}
.secBody .txtContent{
    padding: 45px 45px 45px 90px;
    text-align: end;
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}
.thirBody .txtContent{
    padding: 45px 90px 45px 45px;
    text-align: start;
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}
.txtContent h1{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
}
.imgContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgContent img{
    max-height: 100%;
    height: 75%;
    animation: heroAnim 1s linear 0s infinite alternate forwards;
}
.imgContent h1{
    color: #073a46;
    font-size: 3.5rem;
    text-shadow: 1px 2px 8px rgba(0,0,0,0.4);
    letter-spacing: 10px;
}
.logoTxt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logoTxt p{
    line-height: 16px;
}
.logoTxt h2 {
    font-weight: 500;
    font-size: 38px;
    
}

/*
===================================
Body 2nd Section
===================================
*/
.secBody{
    background: #073c46;
    color: white;
}
 /* .thirBody{
    background:linear-gradient( #21748494,  rgba(0, 0, 0, 0));
} */


/* 
===================================
Footer
===================================
*/
footer{
    /* background: linear-gradient(#217484ca, #073c46e6) ; */
    background-color: #073c46;
    /* border-top: solid 1px silver; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
footer .footlogo a{
    border: none;
}

footer .footlogo{
    display: flex;
    justify-content: center; 
}
.quicks ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.quicks ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.contacts{
    display: flex;
    gap: 50px;
}
.contacts a {
    text-decoration: none;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 1.7rem;
    transition: .2s ease-in ;
    border-radius: 10px;

    display: grid;
    place-items: center;
}
.contacts a:hover{
    color: #073a46;
    background-color: white;
    font-size: 2rem;
}