@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
/* body{
    background-color: #073c461f;
    height: 200vh;
} */
/* .body-container{
    background:linear-gradient( rgba(0, 0, 0, 0), #217484a3);
} */
/* 
===================================
Navigation Bar Section
===================================
*/
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;


    /* padding: 0 0 0 25px; */
    transition: background-color 0.5s ease-in-out;
    z-index: 1;
    transition: .5s ease-in-out;
}
.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer img{
    max-width: 100%;
    width: 80%;
}
  .nav-bar.scrolled {
    background-color: #073c46d3;
    border-bottom: solid 1px silver;
  }
  .nav-bar.scrolled .logo a{
    border-right: solid 1px silver;
  }
  .nav-bar.scrolled .messageContainer{
    border-left: solid 1px silver;
  }
    
  .navlogo{
    height: 100%;
  }
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    width: 300px;
    height: 100%;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.naviLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.naviLinks ul{
    /* text-decoration: none; */
    list-style: none;
    
    display: flex;
    
    
}
.naviLinks ul li a{
    color: white;
    text-decoration: none;

    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 200;
}
.messageContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;
    /* border-left: solid 1px silver; */
    transition: .5s ease-in-out
}
.messageContainer i{
    cursor: pointer;
}


/* 
===================================
Hero Section
===================================
*/
.hero{
    position: relative;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-image:linear-gradient(rgba(0, 0, 0, 0.593), #073c46e6), url(./hero.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    position: top;
    color: white;

}

.heroContent{
    width: 50%;
    position: absolute;
    top: 56%;
    left: 10%;
    transform: translateY(-45%);
}
@keyframes hero {
	0% {
		transform: translateX(-30px)
	}

	100% {
		transform: translateX(0)
	}
}
.heroContent p{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: hero .3s ease .3s 1 normal forwards;
}
.heroContent h1{
    font-size: 5rem;
    font-weight: 400;
    line-height: 95px;
    animation: hero .5s ease .3s 1 normal forwards;
}
.heroContent button{
    width: 180px;
    height: 40px;

    border: none;
    background-color: transparent;
    border-radius: 5px;

    color:white;
    font-size:1.5rem;
    cursor: pointer;
    animation: hero 1s ease .3s 1 normal forwards;
}


/* 
===================================
Body 1st Section
===================================
*/
@keyframes heroAnim {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-10px);
	}
}
.firstBody{
    /* height: 100vh; */
    width: 100%;
    height: 90vh;
    color: black;
    z-index: 4;
    padding: 50px;

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    place-content: center;
}
.firstBody .txtContent{
    padding: 45px 200px 45px 45px;
    text-align: start;
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}
.secBody .txtContent{
    padding: 45px 45px 45px 200px;
    text-align: end;
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}
.thirBody .txtContent{
    padding: 45px 200px 45px 45px;
    text-align: start;
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}
.txtContent h1{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
}
.imgContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgContent img{
    max-height: 100%;
    height: 75%;
    animation: heroAnim 1s linear 0s infinite alternate forwards;
}
.imgContent h1{
    color: #073a46;
    font-size: 3.5rem;
    text-shadow: 1px 2px 8px rgba(0,0,0,0.4);
    letter-spacing: 10px;
}
.logoTxt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logoTxt p{
    line-height: 16px;
}
.logoTxt h2 {
    font-weight: 500;
    font-size: 38px;
    
}

/*
===================================
Body 2nd Section
===================================
*/
.secBody{
    background: #073c46;
    color: white;
}
 /* .thirBody{
    background:linear-gradient( #21748494,  rgba(0, 0, 0, 0));
} */


/* 
===================================
Footer
===================================
*/
footer{
    /* background: linear-gradient(#217484ca, #073c46e6) ; */
    background-color: #073c46;
    /* border-top: solid 1px silver; */
    height: 30vh;
    display: flex;
   /* flex-direction: row; */
    align-items: center;
    justify-content: center; 
    gap: 200px;

}
footer .footlogo a{
    border: none;
}

.footContainer{
    width:80%;
    padding: 30px 0 30px 0;

    /* border: 1px white; */
    /* border-style:  solid none solid none ; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}
footer .footlogo{
    display: flex;
    justify-content: center; 
}
.quicks ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.quicks ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.contacts{
    display: flex;
    gap: 30px;
}
.contacts a {
    text-decoration: none;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 1.7rem;
    transition: .2s ease-in ;
    border-radius: 10px;

    display: grid;
    place-items: center;
}
.contacts a:hover{
    color: #073a46;
    background-color: white;
    font-size: 2rem;
}

/* ================================================================ 
================================================================ */


/* 
===================================
About Us Page
===================================
*/
.pagesHero{
    width: 100%;
    height: 70vh;

    background-image: url('./abouthero.jpg');
    background-size: cover;
    background-position: center;
    /* opacity: 0.3; */
}
.heroContainer{
    width: 100%;
    height: 100%;

    background-color: #073c46d3;
}

.heroTitle{
    width: 100%;
    height: 100% ;

    display: grid;
    place-items: center;
    color: white;
    padding-top: 15%;
  
}
.heroTitle h1{
    font-size: 5rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.body-content{
    margin: 0 10% 0 5%;
    height: 70vh;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content:center;
    align-items: center
}
.imgSec{
    height:100%;
    width: 100%;
    display: grid;
    place-items: center

}
.imgSec-container{
    width: 300px;
    height: 300px;
    
    border: 15px #073a46; 
    border-style:  solid ;

    display:grid;
    place-items: center;

}
.imgSec-container h1{
    font-size: 6rem;
    color:#073a46;
    text-align:center;
    line-height: 100px;
    /* padding: 10px; */
}
.abtContent{
    padding: 0 10px;
}
.abtContent h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: #073a46;

}
.abtContent h2{
    font-weight: 500;
    color: #073a46;
}
.abtContent .abtxt{
    font-weight: 500;
    
    padding-top: 10px;
}

.rate{
    width: 100%;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.star{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rate .star i{
    font-size: 5rem;
    color: #073a46;
}
.startype{
    padding-top: 20px;
    line-height: 45px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.startype p{
    padding: 0;
    font-size: 1.2rem;
    color: #073a46;
}
.proj{
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 20px;
}
.proj h1, .star h1{
    font-size: 4rem;
}
.proj p{
    font-size: 1.5rem;
    color: #073a46;
    padding-left: 10px;
}


/* 
===================================
Services
===================================
*/

.serviceHero{
    width: 100%;
    height: 70vh;

    background-image: url('./serviceshero.jpg') !important;
    background-size: cover;
    background-position: center;
    /* opacity: 0.3; */
}
.serviceContainer{
    width: 100%;
    height: 100%;

    background-color: #073c46d3;
}

.serviceHeroTitle{
    width: 100%;
    height: 100% ;

    display: grid;
    place-items: center;
    color: white;
    padding-top: 15%;
  
}




/* 
===================================
Contact
===================================
*/

.contactHero{
    width: 100%;
    height: 70vh;

    background-image: url('./contacthero.jpg') !important;
    background-size: cover;
    background-position: center;
    /* opacity: 0.3; */
}
.contactContainer{
    width: 100%;
    height: 100%;

    background-color: #073c46d3;
}

.contactheroTitle{
    width: 100%;
    height: 100% ;

    display: grid;
    place-items: center;
    color: white;
    padding-top: 15%;
  
}